<header class="headerWrap">
    <div class="headerInner">
        <nav>
            <ul class="navList">
                <li><a href="https://djduct.bandcamp.com/" target="_blank">Bandcamp</a></li>
                <li><a href="mailto:djduct@gmail.com" target="_blank">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>