<header class="headerWrap">
    <div class="headerInner">
        <nav>
            <ul class="navList">
                <li><a href="/">top</a></li>
                <li><a href="https://djduct.bandcamp.com/" target="_blank">bandcamp</a></li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </nav>
    </div>
</header>