<header class="headerWrap">
    <div class="headerInner">
        <div class="headerLogoWrap"><a href="/"><img src="/images/common/logo_duct.png" alt="/"></a></div>
        <nav class="nav">
            <ul class="navList">
                <li><a href="/">top</a></li>
                <li><a href="https://djduct.bandcamp.com/" target="_blank">bandcamp</a></li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </nav>
    </div>
</header>