.footerWrap {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
}
.footerInner {
  padding: 0 20px 10px;
}
.copyright {
  text-align: right;

  > .text {
    font-size: 11px;
    color: #333;
    font-weight: bold;
  }
}